.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.jar
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.jar.md5
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.jar.sha1
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.jar.sha256
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.jar.sha512
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.module
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.module.md5
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.module.sha1
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.module.sha256
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.module.sha512
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.pom
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.pom.md5
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.pom.sha1
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.pom.sha256
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15.pom.sha512
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-javadoc.jar
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-javadoc.jar.md5
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-javadoc.jar.sha1
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-javadoc.jar.sha256
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-javadoc.jar.sha512
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-sources.jar
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-sources.jar.md5
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-sources.jar.sha1
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-sources.jar.sha256
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/1.0.15/callhandler-1.0.15-sources.jar.sha512
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/maven-metadata.xml
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/maven-metadata.xml.md5
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/maven-metadata.xml.sha1
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/maven-metadata.xml.sha256
/mvn-repo/io/github/singlerr/semaphore/callhandler/callhandler/maven-metadata.xml.sha512
/.idea/
